.main-footer {
	background: rgb(96, 125, 139, 0.2);
}

.logo-project {
	width: 165px; 
	margin-top: 7px; 
	margin-left: 10px;
}

.logo-revenga {
	height: 17px; 
	margin-top: 6px; 
	margin-left: 10px;
}

.open-its-version{
	margin-top: 12px;
	font-weight: 100;
	font-size: 13px;
	color: #607D8B;
	margin-right: 10px;
}

/* menu horizontal */
.webix_menu-x.menu-custom .webix_list_item {
	padding-top: 3px;
	background-color: transparent;
	color: #475466;
	font-weight: 500;
	margin-top: -5px;
} 
.webix_menu-x.menu-custom .webix_list_item:hover {
	/*background-color: transparent; */
	/*box-shadow: 0px 2px #1CA1C1; */
	background-color: rgb(28, 161, 193, 0.1);
}

/* menu vertical */
.webix_menu.menu-custom {
  	background-color: white;
  	color: #475466;
}
.webix_menu.menu-custom .webix_list_item {
  	background-color:transparent;
}
.webix_menu.menu-custom .webix_list_item:hover {
  	background-color: rgb(28, 161, 193, 0.1);
}

.menu-toolbar {
	margin-top: -2px !important;
	height: 34px !important;
}


.main-tab .webix_all_tabs .webix_item_tab{
	color: #475466;
	font-weight: 100;
}

.main-tab .webix_all_tabs .webix_item_tab.webix_selected {
    color: #475466;
    font-weight: 500;
    background: rgb(28 161 193 / 0.2);
}
 
.main-tab .webix_item_tab:not(.webix_selected) {
	color: rgb(71, 84, 102, 0.4);
    font-weight: 500;
    background: rgb(71 84 102 / 0.07);
}   
 

.main-tab .webix_item_tab:not(.webix_selected):hover {
	color: rgb(71, 84, 102, 0.8);
	background-color: rgb(28, 161, 193, 0.1);
}

.main-tab .tab-text{
	padding-left: 27px;
	display: inline-block;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-tab .tab-icon {
	position: absolute;
	height: 22px;
	width: 22px;
}

.submenu-icon{
    padding: 7px;
    background: transparent;
}

.submenu-text{
    overflow: hidden;
    white-space:nowrap;
    /*text-overflow: ellipsis;
    width:150px;*/
    display:inline-block;
}

.webix_win_head {
    border-bottom: 0px solid;
}

.notification-center-main {
	border-color: #1CA1C1;
}

.notification-panel {
	background-color: rgb(0, 0, 0, 0.30); 
}

.notification-center-transparent {
	background-color: transparent;
}

.notification-center-head {
	background-color: #1CA1C1;
    font-size: 18px;
	-webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
	-moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
	-o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
	animation: NAME-YOUR-ANIMATION 1s infinite; 
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%, 49% {
    background-color: #1CA1C1;
  }
  50%, 100% {
    background-color: red;
  }
}

.notification-center-title {
	font-weight: 600;
    font-size: 16px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding: 6px 0px 0px 38px;
}

.notification-center-alarm-txt {
	position: absolute;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 83px;
}

.notification-center-alarm-value {
	width: 85px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    float: right;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 7px 0px;
}
.notification-center-alarm-value-1 {
    background-color: rgb(164, 0, 0, 0.4);
    color: white;
}

.notification-center-alarm-value-2 {
    background-color: rgb(117, 80, 123, 0.4);
    color: white;
}

.notification-center-alarm-value-3 {
    background-color: rgb(196, 160, 0, 0.4);
    color: white;
}

.notification-center-close-btn .webix_icon_button .webix_icon:before{
    color: #e1e5ea;
}

.notification-center-tab-option {
	padding-left: 4px; 
	font-size: 13px;
}

.rows .webix_cell{
	height: 34px !important;
}

.rows .webix_cell:nth-child(2n){
  background-color:#F5F5F5;
}

.rows .webix_cell.webix_row_select{
  color: #2e3436;
  background: rgb(28, 161, 193, 0.1) !important;
}

.list-photo{
	display:inline-block;
	/*border-radius:25px;*/
	width:42px;
	height:42px;
	float:left;
	padding-top: 7px;
}

.list-first-line{
	font-size:14px;
	letter-spacing:0.2px;
	color:#313131;
	font-weight:500;
	line-height:20px;
	display:block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 10px;
    padding-top: 10px;
}
.list-second-line{
	color:#475466;
	display:block;
	letter-spacing:0.2px;
	line-height:20px;
	max-width:500px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 10px;
}

.webix_segment_0, .webix_segment_1, .webix_segment_N{
	
	background: transparent;
	color: #babdb6 !important;
	font-size: 13px;
}
.webix_selected.webix_segment_0:focus, .webix_selected.webix_segment_1:focus, .webix_selected.webix_segment_N:focus{
	background: transparent;
	color: #475466 !important;
}

.webix_segment_0.webix_selected, .webix_segment_1.webix_selected, .webix_segment_N.webix_selected{
	background: transparent;
	color: #475466 !important;
	box-shadow: 0px 2px #1CA1C1;
}

.webix_segment_0:hover, .webix_segment_1:hover, .webix_segment_N:hover{
	background: transparent;
	color: #babdb6 !important;
	box-shadow: 0px 2px #1CA1C1;
}

.webix_segment_0.webix_selected:hover, .webix_segment_1.webix_selected:hover, .webix_segment_N.webix_selected:hover{
	background: transparent;
	color: #475466 !important;
	box-shadow: 0px 2px #1CA1C1;
}

.webix_list_item.webix_selected {
    box-shadow: inset 2px 0 #1CA1C1;
    background: rgb(28, 161, 193, 0.1);
}

.table-field-icons {
	
	vertical-align: -3px;
}

.status_ws_connected {
	font-size: 11px;
	font-weight: 400;
	color: #4caf50;
	padding: 4px 4px;
	border-radius: 10px;
	background: transparent;
	border-color: #4caf50;
	border-style: solid;
	border-width: 1px;
}

.status_ws_disconnected {
	font-size: 11px;
	font-weight: 400;
	color: #ef2929;
	padding: 4px 4px;
	border-radius: 10px;
	background: transparent;
	border-color: #ef2929;
	border-style: solid;
	border-width: 1px;
}

.grid-icon {
	margin-top: 4px;
}

.grid-title {
	vertical-align: top;
	padding-left: 15px;
}

.empty-app-inner{
	width:100%;
	height:100%;
	text-align: center;
}

.empty-app-inner-text{
	position: relative;
    top: 46%;
    font-size: 30px;
    color: #475466;
    padding-left: 16px;
}
.empty-app-inner .webix_icon, .empty-app-inner img{
	position: relative;
	top: 50%;
	margin-top: -70px;
	width: 140px;
	height: 140px;
}
.empty-app-inner .webix_icon{
	color: #fff;
	text-align: center;
	font-size: 90px;
}