global
    log /dev/log local0
    log localhost local1 notice
    maxconn 2000
    daemon
 
defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    timeout connect 5000
    #timeout client 50000
    #timeout server 50000

# Below is a common setup for HAproxy. In this example we are connecting to 2 instances with a shared port for keydb-cli
# Client connects to port 6380 and is redirected to one of the two nodes based on setup and checks.
#
# For active-replica support you will have 2 masters that are replicas of eachother with data syncing. 
# No need for a sentinel node as there is no slave that needs to be promoted to master. 
# HAproxy will check if one instance goes down and write to the other node. This is done with the health checks 
# Default config for balance is roundrobin. If you have preference for which server is primary, you can place the
# word "backup" beside the server ip address. That way HA will send traffic to 'not-backup' instance unless it is unreachable.
# You can also consider adding weights to the end of the server line. Weights are expressed as "weight 50%" combining to 100% or otherwise between 1 and 256 if no % sign
# Choosing "balance first" will use the first connected instance and only start using the second if maxconn is exceeded.
# If you have a password you will have to include it here and set the same for both nodes.

# Note that in a common master-replica setup you will "expect string role:master" to vaildate you are only sending traffic to the healthy master
# With Active-rep, you will "expect string role:acitve-replica" as that is the role when in active-rep mode. Understanding this concept of getting data and
# health checking you can probe for other info if needed.

listen keydb 
    bind *:6379
    maxconn 40000 
    mode tcp
    balance roundrobin
    option tcplog
    option tcp-check
    #uncomment these lines if you have basic auth
    tcp-check send AUTH\ rits\r\n
    tcp-check expect string +OK
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:active-replica
    tcp-check send QUIT\r\n
    tcp-check expect string +OK
    server keydb1 keydb-1:6371 maxconn 20000 check inter 1s
    server keydb2 keydb-2:6372 maxconn 20000 check inter 1s

# Sending PING is one health check to make sure server is active. Retrieving the replication info is to find if the node is
# a master. If not master then dont write to it. This prevents trying to write to a replica instance.
# The QUIT command prevents unwanted logging info every time this is run

# A common master-slave HAproxy setup does not need to include a "balance" option or "backup" as only the master
# will see incoming traffic (through checks). If you have sentinel nodes they will automatically promote the slave to master at which
# time the checks will redirect traffic there.


listen stats # Define a listen section called "stats"
  bind *:9000 # Listen on localhost:9000
  mode http
  stats enable  # Enable stats page
  stats hide-version  # Hide HAProxy version
  stats realm Haproxy\ Statistics  # Title text for popup window
  stats uri /haproxy_stats  # Stats URI
  stats auth admin:admin  # Authentication credentials

